<md-content layout="row" layout-align="center start" layout-padding>
  <md-card layout-margin>
    <md-card-content layout="column" layout-padding>
      <md-input-container>
        <label>SKU</label>
        <input ng-model="auction.sku">
      </md-input-container>

      <md-input-container>
        <label>Name</label>
        <input ng-model="auction.name">
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <input ng-model="auction.description" type="textarea">
      </md-input-container>

      <md-input-container>
        <label>Regular Price</label>
        <input ng-model="auction.regularPrice">
      </md-input-container>

      <div>
        <md-input-container>
          <label>Start</label>
          <md-datepicker ng-model="auction.start" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>

        <md-input-container>
          <label>End</label>
          <md-datepicker ng-model="auction.end" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
</md-content>