<md-content layout-padding>
  <md-grid-list md-cols="3" md-row-height="3:2">
    <md-grid-tile class="gray" layout-padding>
      <md-card layout-fill>
        <md-card-content>
          <a  ui-sref="app.item-details">
            <img  layout-align="center start" src="https://placeimg.com/640/480/tech" width="100%" height="50%" style="margin-top: -15px; margin-left: -15;"></img>
          </a>
            <h4>MegaWin Sports Cassino Slots</h4>
            <p>
                Animated SLOTS!! *Original design! Exclusively on Flippa!!!
            </p>
            <div layout="row">
                <span layout-align="start center" flex>4 days left</span> <b layout-align="end center">ETH 12</b>
            </div>
          
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</md-content>