<md-content layout="row" layout-padding>
  <md-card flex="65">
    <md-card-content layout="row">
      <img layout-align="start start" src="https://placeimg.com/640/480/tech" width="100px" height="100px"></img>
      <div>
        <h2 layout-align="center start">Bet Advisors - Pro Bet Comment</h2>
        <h4 layout-align="center end">Android App for sale</h4>
      </div>
    </md-card-content>
  </md-card>
  <md-card flex="35">
    <md-card-content layout="row">
      <div layout="column" style="height:150px;" flex="50">
        <i>Current Price</i>
        <b>ETH 900</b>
        <span layout-align="end start">5 bids</span>
      </div>
      <div layout="column" flex="50">
        
        <span layout-align="end start">4 days left</span>
      </div>
    </md-card-content>
  </md-card>
</md-content>